* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dadce0;
  font-family: "Roboto Mono", monospace;
}

.main__container {
  display: grid;
  grid-template-columns: 500px;
  justify-content: center;
  align-items: center;
  height: 30vh;
  text-align: center;
}

.input__container input {
  padding: 5px;
  background: transparent;
  border-color: #000000;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-bottom: 2em;
  outline: none;
  width: 75%;
  font-size: 16px;
}

.input__container input::placeholder {
  color: #000000;
}

.input__container button {
  padding: 5px 20px;
  cursor: pointer;
}

.result__container {
  display: flex;
  justify-content: space-around;
  border: 1px solid #000000;
  padding: 20px;
}

.city__name__text,
.city__temperature__text {
  font-weight: bold;
  font-size: 24px;
}
